.App h1{
    color: red;
    text-align: center;
    margin: 30px;
    font-size: 60px;
}
.anime-list{
    margin: 50px;
    display: grid;
    grid-template-columns:repeat(auto-fit , minmax(200px , 1fr));
    list-style: none;
    grid-gap: 1.5rem;
    color: white;
    font-size: 20px;
}

.anime-list img{
    max-width: 100%;
    cursor: pointer;
    
}
.anime-list img:hover{
    filter: brightness(0.9);
}
.span {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
  
}
