*{
    padding: 0px;
    margin: 0px;
}
body{
  
    background-color: blue;
}
#titulo h1{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;

    
}
#titulo h2{
    display: flex;
    justify-content: center;
    padding-bottom:100px;
    
    color: rgba(255, 248, 248, 0.632);
 
}
main{
    position: relative;
}
#formulario {
   display: grid;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
}
.estilo{
    margin-bottom: 10px;
    border-radius: 50px;
    height: 25px;
    font-size: 20px;
}
#entrar{
    height: 30px;
    width: 250px;
    background-color: white;
}
footer{
    margin:100px;
    text-align: center;
    padding-top: 100px;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
    
}
.erroInput {
    border: 2px solid red !important;
}
@media (max-width:425px) {
    #formulario {
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
         transform: translate(-50% , -50%);
        margin-bottom: 10px;
        border-radius: 50px;
        height: 25px;
        font-size: 20px; 
     }
     .estilo{
         margin-bottom: 10px;
         border-radius: 50px;
         height: 25px;
         font-size: 20px;
     }
     #entrar{
         height: 30px;
         width: 250px;
         background-color: rgb(255, 0, 0);
     }
}