@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html , body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url('../estilo/imagens/fundo-madeira.jpg') no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
main{
    position: relative;
    height: 100vh;
 

}
#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 627px;
    width: 311px;
    
    background: url('../estilo/imagens/frame-iphone.png') no-repeat;

}
#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;   
}