.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.container header{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 84px 0 24px;
}
.container header img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 7px;
}
.container header div{
    display: flex;
    align-items: center;
}
.container input{
    width: 50%;
    padding: 24px;
    background-color: #e6e6e6;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.container button{
    width: 50%;
    padding: 24px;
    font-weight: 700;
    background: #ea4c89;
    color: #ffff;
    border-radius:5px;
    margin: 12px 0 84px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: filter 0.2s;
}
.container button:hover{
    filter: brightness(0.9);
}